<div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2 click" [routerLink]="['/other','usertable']">
        <div class="card" class="bordeMenu">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white">2600</h1>
                <h6 class="text-white">Usuarios</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2 click" [routerLink]="['/other','searchlist']">
        <div class="card" class="bordeMenu">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white">5600</h1>
                <h6 class="text-white">Artistas registrados</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2 click" [routerLink]="['/other','songslist']">
        <div class="card" class="bordeMenu">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white">5065</h1>
                <h6 class="text-white">Canciones</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2 click" [routerLink]="['/sheetmusic','searchmusicsheet']">
        <div class="card" class="bordeMenu">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white">7000</h1>
                <h6 class="text-white">Partituras</h6>
            </div>
        </div>
    </div>
</div>