<div class="row animate fadeIn">
    <div class="col-lg-4">

        <!-- Lista de reproduccion-->
        <!-- Card -->
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Listas Disponibles</h4>
            </div>



            <div class="card-body">
                <div class="card-outline-inverse" style="background-color: #242a33; border-color: #242a33;">


                    <p class="text-white">Predeterminado </p>
                    <p class="text-white"> Nueva lista de reproduccion </p>

                </div>
            </div>
        </div>
    </div>



    <!--pistas-->
    <div class="col-lg-8">
        <!-- Card -->
        <div class="card card-outline-info">
            <div class="card-header">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                                        <i class="fa fa-music"></i>
                                    </span>
                    </div>
                    <input class="form-control" placeholder="Ingrese el nombre de la pista">

                    <button type="button" class="btn btn btn-info waves-effect waves-light m-r-10" (click)="buscar()">
                            <i class="fa fa-search"></i>
                              
                          </button>
                </div>
            </div>

            <div class="card-body">

                <div class="card card-inverse" style="background-color: #242a33; border-color: #242a33;">

                    <p class="text-white">pista 001</p>
                    <p class="text-white"> pista 002</p>
                    <p class="text-white"> pista 003</p>
                    <p class="text-white"> pista 004</p>
                    <p class="text-white"> pista 005</p>
                    <p class="text-white"> pista 006</p>

                </div>
                <button type="button" class="btn btn-success waves-effect waves-light m-r-10" (click)="open()">
            <i class="fa fa-play"></i>
                        Play
          </button>

            </div>
        </div>




    </div>

</div>














<!--
     <div style="float:left">
                    <span class="input-group-text" id="basic-addon1">
                            <i class="fa fa-music"></i>
                        </span>
                </div>
-->