<!-- Main -->


<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <app-header></app-header>
    <app-sidebar></app-sidebar>


    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">


        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid" style="padding: 0px;">


            <!-- ============================================================== -->
            <!-- Horizontal navbar and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row hdr-nav-bar">
                <div class="col-md-12">
                    <router-outlet></router-outlet>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- END Horizontal navbar and right sidebar toggle -->
            <!-- ============================================================== -->


        </div>
        <!-- ============================================================== -->
        <!-- END Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- END Page wrapper  -->
    <!-- ============================================================== -->

</div>
<div [ngClass]="_loadingService.stateModal">
    <app-loading></app-loading>
</div>

