<!-- ============================================================== -->
<!-- Comment -->
<!-- ============================================================== -->


<div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
    <ul>
        <li>
            <div class="drop-title">Notificaciones</div>
        </li>
        <li>
            <div class="message-center">
                <!-- Message 
                <a href="#">
                    <div class="btn" class="itemphoto">

                        <img src="../../../../../assets/adminpro/images/mockImages/Luis.jpg" width="50" class="img-circle" alt="img">

                    </div>
                    <div class="mail-contnet">
                        <h5>A Luis </h5> <span class="mail-desc">le gusta tu publicacion  <i class="fa fa-heart"></i></span> <span class="time">9:30 AM</span> </div>
                </a>-->
                <!-- Message -->

                <!--
                <ul>

                    <li *ngFor="let list of lista" class="itemUser">
                        <div class="contenedor1 click" [routerLink]="['/profile','information',list._id]" (click)="click()">
                            <img class="imagenItem" [src]=" list.imagen | imagen" />
                            <div class="itemPalabrasUser1">
                                <p style="margin: 0px;" [routerLink]="['/profile','information',list._id]" (click)="click()">{{list.nombreUsuario}}</p>
                            </div>
                        </div>
                    </li>

                </ul> -->




            </div>
        </li>
        <li>
            <a class="nav-link text-center" [routerLink]="['/userinformation','mynotifications']"> <strong>Ver todas las notificaciones</strong> <i class="fa fa-angle-right"></i> </a>
        </li>
    </ul>
</div>

<!-- ============================================================== -->
<!-- End Comment -->
<!-- ============================================================== -->


<!-- EJEMPLO DE Message 
   <a href="#">
        <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
        <div class="mail-contnet">
            <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
    </a>-->