<div class="card">
    <div *ngIf="!albums && !fotos" class="card-body Loading">
        <img src="assets/adminpro/icons/Loading.gif" width="40px" height="40px" />
    </div>
    <div *ngIf="albums && fotos" class="card-body">
        <div class="row m-t-40">
            <div class="col-md-12">
                <h4 class="card-title">Other Gallery </h4>
                <h6 class="card-subtitle m-b-20 text-muted">you can make gallery like this</h6>
            </div>
        </div>
        <div class="card-columns el-element-overlay">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1">
                        <a class="image-popup-vertical-fit" href="../../../../../../assets/adminpro/images/big/img5.jpg"> <img src="../../../../../../assets/adminpro/images/big/img5.jpg" alt="user" /> </a>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                        <br/> </div>
                </div>
            </div>
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1">
                        <a class="image-popup-vertical-fit" href="../../../../../../assets/adminpro/images/users/1.jpg"> <img src="../../../../../../assets/adminpro/images/users/1.jpg" alt="user" /> </a>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                        <br/> </div>
                </div>
            </div>
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1">
                        <a class="image-popup-vertical-fit" href="../../../../../../assets/adminpro/images/users/2.jpg"> <img src="../../../../../../assets/adminpro/images/users/2.jpg" alt="user" /> </a>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                        <br/> </div>
                </div>
            </div>
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1">
                        <a class="image-popup-vertical-fit" href="../../../../../../assets/adminpro/images/big/img4.jpg"> <img src="../../../../../../assets/adminpro/images/big/img4.jpg" alt="user" /> </a>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                        <br/> </div>
                </div>
            </div>
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1">
                        <a class="image-popup-vertical-fit" href="../../../../../../assets/adminpro/images/big/img2.jpg"> <img src="../../../../../../assets/adminpro/images/big/img2.jpg" alt="user" /> </a>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                        <br/> </div>
                </div>
            </div>
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1">
                        <a class="image-popup-vertical-fit" href="../../../../../../assets/adminpro/images/users/1.jpg"> <img src="../../../../../../assets/adminpro/images/big/img1.jpg" alt="user" /> </a>
                    </div>
                    <div class="el-card-content">
                        <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                        <br/> </div>
                </div>
            </div>
        </div>


    </div>
</div>