
<div class="row">
        <!-- Column -->
        <div class="col-md-6 col-lg-4 col-xlg-2">

<div class="card click">
    <img class="card-img img-responsive" src="assets/adminpro/images/big/img1.jpg" alt="Card image">
    <div class="card-img-overlay card-inverse social-profile-first bg-over">
        <img src="assets/adminpro/images/users/1.jpg" class="img-circle" width="100" />
        <h4 class="card-title">John doe</h4>
    </div>
    <div class="card-body text-center">
            <h6>Te invitamos a visitar el perfil de Ensamble Avanti, el artista con mas seguidores en la red de Ensamble eventos.</h6>
    </div>
</div>

</div>
</div>
