<!-- ============================================================== -->
<!-- mega menu o superiormodal -->
<!-- ============================================================== -->
<div class="dropdown-menu animated bounceInDown">
    <ul class="mega-dropdown-menu row">
        <li class="col-lg-3 col-xlg-2 m-b-30">
            <h4 class="m-b-20">CAROUSEL</h4>
            <app-carousel></app-carousel>
        </li>

        <li class="col-lg-3  m-b-30">
            <h4 class="m-b-20">CONTACTANOS</h4>
            <app-contactus></app-contactus>
        </li>

    </ul>
</div>

<!-- ============================================================== -->
<!-- End mega menu -->
<!-- ============================================================== -->