*{
    padding: 0px;
    margin: 0px;
}
.listaBuscador{
    margin: 5px auto;
    overflow: hidden;
}
.itemBuscador{
    float:left; 
    height: 160px;
    width:170px; 
    font-size:10px; 
    margin: 5px 5px 5px 5px;
    z-index: 1;
    border-radius: 7px;
}
.itemBuscador:hover{
    transform: scale(0.9);
    transition-property: all;
    transition-duration: 0.5s;
}
.itemPalabras{
    color: white;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    height: 160px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    border-radius: 7px;
    text-align: center; 
}
.imagenItem{
    height: 160px;
    width: 100%;
    border-radius: 7px;
}

.tipoBuscadorInfo{
    position: absolute;
    bottom: 0px;
    padding-bottom: 10px;
}
@media screen and (max-width: 359px){.listaBuscador{max-width: 180px;}}
@media screen and (max-width: 617px) and (min-width:360px) {.listaBuscador{max-width: 360px;}}
@media only screen and (max-width: 756px) and (min-width: 618px){.listaBuscador{max-width: 540px;}} 
@media only screen and (min-width: 757px){.listaBuscador{margin: 5px 10px;}} 